@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;   
}

/*
        font-family: 'League Spartan', sans-serif;

        ### Primary

        Very Dark Magenta: hsl(300, 43%, 22%) ROXO
        Soft Pink: hsl(333, 80%, 67%) ROSA

        ### Neutral

        Dark Grayish Magenta: hsl(303, 10%, 53%) ROSA CLARO
        Light Grayish Magenta: hsl(300, 24%, 96%) ROSA CREME PARAGRAFO
        White: hsl(0, 0%, 100%)
*/

body {
    font-family: 'League Spartan', sans-serif;
}

main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* =========== SESSÃO 1 ================*/


/* TITULO E PARAGRAFO */
.sessao-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sessao-1-titulo {
    color: hsl(300, 43%, 22%);
    font-size: 3em;
    font-weight: 700;
    padding: 0px 25rem 1rem 0px;
}

.sessao-1-paragrafo {
    color: hsl(303, 10%, 53%);
    padding-bottom: 4rem;
    line-height: 1.5em;
    font-size: 16px;
}

/* ESTRELAS E PARAGRAFOS */

.componente-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding-bottom: 3em;
}

.hidden-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 20px 40px;
    width: 400px;
    margin-right: 10em;
}

.hidden-1 p {
    margin-left: 10px;
    font-size: 14px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.hidden-1 svg {
    margin: 0px 3px;
    padding: 0px 0px;
}

.hidden-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 20px 40px;
    width: 400px;
    margin-left: 5em;
}

.hidden-2 p {
    margin-left: 10px;
    font-size: 14px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.hidden-2 svg {
    margin: 0px 3px;
    padding: 0px 0px;
}

.hidden-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 20px 40px;
    width: 400px;
    margin-left: 10em;
}

.hidden-3 p {
    margin-left: 10px;
    font-size: 14px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.hidden-3 svg {
    margin: 0px 3px;
    padding: 0px 0px;
}

/* ============ SESSÃO 2 ==================== */

.sessao-2 {
    display: flex;
    justify-content: center;
    height: 250px;
}

.componente-2 {
    background-color: hsl(300, 43%, 22%);
    width: 300px;
    height: 200px;
    margin: 0px 90px;
    border-radius: 5px;
    padding: 20px;
}

.componente-3 {
    background-color: hsl(300, 43%, 22%);
    width: 300px;
    height: 200px;
    margin: 20px 90px 0px;
    border-radius: 5px;
    padding: 20px;
}

.componente-4 {
    background-color: hsl(300, 43%, 22%);
    width: 300px;
    height: 200px;
    margin: 40px 90px 0px;
    border-radius: 5px;
    padding: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    padding-bottom: 1.5em;
}

.perfil img {
    height: 40px;
    border-radius: 50%;
}

.perfil h2 {
    font-size: 15px;
    padding-left: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.perfil span {
    color: hsl(333, 80%, 67%);
    font-weight: 500;
}

.componente-2 p {
    font-size: 15px;
    line-height: 1.5em;
    color: white;
}

.componente-3 p {
    font-size: 15px;
    line-height: 1.5em;
    color: white;
}

.componente-4 p {
    font-size: 15px;
    line-height: 1.5em;
    color: white;
}






